body {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #008B8B;
	font-size: 62.5%;
	text-align: center;
}

.classy {
	font-style: bold;
	text-align: center;
    font-size: 1.75em;
}

.scale-down {
	width: 50%;
	height: 50%;
}

.contain {
	object-fit: cover;
}

aside,
header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;

}

header {
	padding: 3em;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 2em;
	font-family: Palatino Linotype;
	border: 5px solid #000000
}

h2 {
    text-align: center;
    font-size: 2.5em;
	margin: 0;
}

main {
	padding: 3em;
}

section {
	margin: auto;
    border: 1px solid #008B8B;
	padding: 1.25em;
	width: 80%;
}

section:first-child {
	margin-top: 1em;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1.20em;
	font-color: #000000;
}

p {
    font-style: bold;    
}

figure {
	margin: 2em 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 80%;
    max-width: 100%;
    border: 1px solid #000000
}


@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}