body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #008B8B;
	font-size: 62.5%;
}

.classy {
    font-style: bold;
}

header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 1em;
}

h1 {
	font-size: 2.5em;
}

main h2 {
    text-align: center;
    font-size: 1.75em;
	margin: 2em 0 2em 0;
}

section {
	margin: 0 0 2em 0;
}

section:first-child {
	margin-top: 1em;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1em;
}

p {
    font-style: bold;
    width: 80%;
    margin: auto;
    border: 1px solid #008B8B;
	padding: 1.25em;
}

figure {
	margin: 2em 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 80%;
    max-width: 100%;
    border: 1px solid #000000
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}